@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	padding: 0;
	margin: 0;
}

.container {
	width: 1080px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
}

button {
	cursor: pointer;
	transition: .3s ease;
}

a {
	text-decoration: none;
}

button:hover {
	transform: scale(1.1);
}

body {
	font-family: "Open Sans";
}

/*Header*/

header {
	height: 80px;
	display: flex;
	align-items: center;
}

.header .container {
	display: flex;
}

.logo a {
	display: flex;
	width: 250px;
}

.logo img {
	height: 40px;
	width: auto;
}

.logo h1 {
	font-family: "Nunito";
	font-size: 31px;
	text-transform: uppercase;
	color: #6d6e70;
	margin-left: 10px;
	margin-top: 6px;
}

.logo h1 span {
	color: #595959;
}

.header-menu ul {
	display: flex;
}

.header-menu {
	padding-top: 16px;
	margin-left: 100px;
}

.menu-item {
	margin-right: 25px;
	cursor: pointer;
	transition: .2s ease;
}

.menu-item:hover {
	transform: scale(1.1);
}

.menu-item:nth-child(5) {
	margin-right: 0;
}

.menu-item a {
	text-decoration: none;
	text-transform: uppercase;
	opacity: 0.67;
	font-size: 13px;
	font-weight: 600;
	color: #666;
}

.headerSect-login {
	width: 100px;
	height: 40px;
	opacity: 0.81;
	background-color: #add136;
	border-radius: 400px;
	border: none;
	opacity: 0.81;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin-left: auto;
	margin-top: 8px;
}

/*Intro*/

.intro {
	background: url("../imgs/intro-bg.png") center top / cover no-repeat;
	height: 600px;
}

.intro-title {
	text-align: center;
}

.intro-title h2 {
	font-size: 49px;
	font-weight: 600;
	color: #fff;
}

.intro-title h2 span {
	font-size: 35px;
	font-weight: 400;
}

.intro-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(60%);
}

.intro-btn {
	width: 250px;
	height: 70px;
	background-color: #99c50a;
	border: none;
	border-radius: 15px;
	font-size: 19px;
	font-weight: 600;
	color: #fff;
	margin-top: 50px;
}

/*About Section 1st Part*/

.about-1part {
	margin-bottom: 120px;
}

.about-1part .container {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about1part-title {
	margin-top: 45px;
	font-size: 31px;
	font-weight: 600;
	text-transform: uppercase;
	color: #515151;
	text-align: center;
}

.about1part-text {
	margin-top: 70px;
	text-align: center;
	opacity: 0.7;
	font-size: 19px;
	color: #515151;
}

/*About Section 2nd Part*/

.about-2part {
	margin-bottom: 100px;
}

.ab2part-slider-titles {
	margin-bottom: 30px;
}

.ab2part-slider-titles ul {
	display: flex;
	justify-content: space-between;
}

.slider-item span {
	display: inline-flex;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: #5f5f5f;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	margin-right: 30px;
}

.slider-item-active span {
	background-color: #add136;
}

.slider-item {
	font-size: 33px;
	font-weight: 300;
	color: #656565;
	display: flex;
	justify-content: center;
	cursor: pointer;
	transition: .2s linear;
}

.slider-item:hover {
	transform: scale(1.1);
}

.ab2part-progressbar {
	width: 100%;
	height: 1px;
	background-color: #e7e7e7;
	margin-bottom: 60px;
	position: relative;
}

.ab2part-progressbar span {
	height: 100%;
	width: 201px;
	background-color: #add136;
	display: block;
	position: relative;
 	overflow: hidden;
}

.about2part-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.a2p-content-photo {
	margin-right: 80px;
	width: 113px;
	height: 102px;
}

.a2p-content-title {
	font-size: 25px;
	font-weight: 400;
	color: #add136;
	margin-bottom: 35px;
}

.a2p-content-paragraph {
	opacity: 0.67;
	font-size: 17px;
	font-weight: 400;
	color: #606060;
}

/*User Buttons Section*/

.user-btns {
	display: flex;
	height: 305px;
	margin-bottom: 80px;
}

.become-a-member,
.submit-your-project {
	width: 50%;
	height: 305px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.become-a-member {
	background: url("../imgs/bAm-bg.png");
}

.submit-your-project {
	background: url("../imgs/sYp-bg.png");
}

.bAm-photo,
.sYp-photo {
	margin-right: 40px;
	height: 112px;
}

.bAm-rightContent h3,
.bAm-rightContent p,
.sYp-rightContent h3,
.sYp-rightContent p {
	margin-bottom: 30px;
}

.bAm-rightContent h3,
.sYp-rightContent h3 {
	font-family: "Montserrat";
	font-size: 23px;
	color: #515151;
}

.bAm-rightContent p,
.sYp-rightContent p {
	font-size: 17px;
	font-weight: 500;
	color: #515151;
}

.bAm-button,
.sYp-button {
	width: 190px;
	height: 50px;
	border: none;
	border-radius: 10px;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
}

.bAm-button {
	background-color: #26a6d1;
}

.sYp-button {
	background-color: #add136;
}

/*Featured Products Section*/

.featured-projects-section {
	margin-bottom: 30px;
}

.featured-projects {
	display: flex;
	flex-wrap: wrap;
}

.ftprojects-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 65px;
}

.featured-project {
	width: 300px;
	margin-right: 90px;
	margin-bottom: 60px;
}

.featured-project:nth-child(3) {
	margin-right: 0;
}

.ftprojects-title-leftSide h2 {
	font-size: 29px;
	font-weight: 600;
	color: #515151;
	margin-bottom: 25px;
}

.ftprojects-title-leftSide p {
	font-size: 17px;
	font-weight: 400;
	color: #8f8f8f;
}

.ftprojects-title-rightSide {
	width: 180px;
	height: 50px;
	background-color: #fff;
	border: 1px solid rgba(81, 81, 81, 0.41);
	border-radius: 10px;
	font-size: 15px;
	font-weight: 600;
	color: rgba(81, 81, 81, 0.7);
}

.featured-project-top {
	width: 300px;
	position: relative;
}

.featured-project-bottom {
	padding-top: 30px;
	padding-left: 5%;
	background-color: #f7f7f7;
	border: 1px solid rgba(0,0,0,0.13);
	transform: translateY(-5px);
}

.ftprojects-new {
	position: absolute;
	top: 0;
	left: 0;
}

.featured-project-top button {
	width: 140px;
	height: 35px;
	background-color: #26a6d1;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
	color: #fff;
	position: absolute;
	right: 15px;
	bottom: 18px;
}

.featured-project-top button span {
	font-weight: 700;
}

.ftproject-bottom-title {
	font-size: 17px;
	font-weight: 700;
	color: #484848;
	margin-bottom: 17px;
}

.ftproject-bottom-subtitle {
	opacity: 0.7;
	font-size: 13px;
	line-height: 1.2;
	font-weight: 400;
	color: #484848;
	margin-bottom: 20px;
}

.ftproject-bottom-progressbar {
	width: 95%;
	height: 14px;
	background-color: #e3e3e3;
	border-radius: 10px;
	position: relative;
	margin-bottom: 20px;
}

.ftproject-bottom-progressbar span {
	display: block;
	height: 100%;
	background-color: #add136;
	position: relative;
	overflow: hidden;
	width: 38px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.ftproject-bottom-pbinfo {
	display: flex;
	justify-content: space-between;
	padding-right: 5%;
	margin-bottom: 20px;
}

.ftpr-bottom-pbprecent,
.ftpr-bottom-pbtime {
	font-size: 13px;
	font-weight: 600;
	color: #8d8d8d;
}

.featured-project-bottom hr {
	width: 95%;
	border: none;
	height: 1px;
	background-color: #d6d6d6;
	margin-bottom: 20px;
}

.projectDetails {
	margin-bottom: 10px;
	cursor: pointer;
	transform: translateX(70%);
}

/*Testimonials Section*/

.testimonials-section .container {
	width: 980px;
}

.testimonials-section {
	background: url("../imgs/testimonials_bg.png") no-repeat center / cover; 
}

.testimonials-header {
	text-align: center;
	margin-bottom: 100px;
}

.testimonials-section-title {
	font-size: 39px;
	font-weight: 600;
	color: #9ec02d;
	margin-bottom: 40px;
}

.testimonials-header p {
	font-size: 19px;
	font-weight: 400;
	color: #949494;
}

.testimonials {
	display: flex;
	flex-wrap: wrap;
}

.testimonial {
	width: 397px;
	margin-bottom: 60px;
	margin-right: 185px;
}

.testimonial:nth-child(2) {
	margin-right: 0;
}

.testimonial-header {
	position: relative;
	margin-bottom: 13px;
}

.testimonial-header h3 {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 25px;
	font-size: 21px;
	font-weight: 600;
	color: #9ec02d;
}

.testimonial-header p {
	position: absolute;
	display: block;
	width: 320px;
	left: 50%;
	transform: translateX(-50%);
	bottom: 50px;
	font-size: 13px;
	color: #848484;
	text-align: center;
	font-weight: 400;
}

.testimonial-footer {
	display: flex;
	align-items: center;
	margin-left: 50px;
}

.testimonial-footer-userPhoto {
	margin-right: 20px;
}

.testimonial-footer-username {
	font-family: "Montserrat";
	font-size: 15px;
	font-weight: 600;
	color: #494949;
}