@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	padding: 0;
	margin: 0;
}

.container {
	width: 1080px;
	margin: 0 auto;
}

ul {
	list-style-type: none;
}

button {
	cursor: pointer;
	transition: .3s ease;
}

button:hover {
	transform: scale(1.1);
}

body {
	font-family: "Open Sans";
}

/*Header*/

header {
	height: 80px;
	display: flex;
	align-items: center;
}

.header .container {
	display: flex;
}

.logo {
	display: flex;
	width: 250px;
}

.logo img {
	height: 40px;
	width: auto;
}

.logo h1 {
	font-family: "Nunito";
	font-size: 31px;
	text-transform: uppercase;
	color: #6d6e70;
	margin-left: 10px;
	margin-top: 6px;
}

.logo h1 span {
	color: #595959;
}

.header-menu ul {
	display: flex;
}

.header-menu {
	padding-top: 16px;
	margin-left: 100px;
}

.menu-item {
	margin-right: 25px;
}

.menu-item:nth-child(5) {
	margin-right: 0;
}

.menu-item a {
	text-decoration: none;
	text-transform: uppercase;
	opacity: 0.67;
	font-size: 13px;
	font-weight: 600;
	color: #666;
}

.headerSect-login {
	width: 100px;
	height: 40px;
	opacity: 0.81;
	background-color: #add136;
	border-radius: 400px;
	border: none;
	opacity: 0.81;
	font-size: 13px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
	margin-left: auto;
	margin-top: 8px;
}

/*Intro*/

.intro {
	background: url("../imgs/intro-bg.png") center top / cover no-repeat;
	height: 600px;
}

.intro-title {
	text-align: center;
}

.intro-title h2 {
	font-size: 49px;
	font-weight: 600;
	color: #fff;
}

.intro-title h2 span {
	font-size: 35px;
	font-weight: 400;
}

.intro-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	transform: translateY(60%);
}

.intro-btn {
	width: 250px;
	height: 70px;
	background-color: #99c50a;
	border: none;
	border-radius: 15px;
	font-size: 19px;
	font-weight: 600;
	color: #fff;
	margin-top: 50px;
}

/*About Section 1st Part*/

.about-1part {
	margin-bottom: 120px;
}

.about-1part .container {
	padding-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.about1part-title {
	margin-top: 45px;
	font-size: 31px;
	font-weight: 600;
	text-transform: uppercase;
	color: #515151;
	text-align: center;
}

.about1part-text {
	margin-top: 70px;
	text-align: center;
	opacity: 0.7;
	font-size: 19px;
	color: #515151;
}

/*About Section 2nd Part*/

.about-2part {
	margin-bottom: 100px;
}

.ab2part-slider-titles {
	margin-bottom: 30px;
}

.ab2part-slider-titles ul {
	display: flex;
	justify-content: space-between;
}

.slider-item span {
	display: inline-flex;
	width: 43px;
	height: 43px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: #5f5f5f;
	font-size: 20px;
	font-weight: 600;
	color: #fff;
	margin-right: 30px;
}

.slider-item-active span {
	background-color: #add136;
}

.slider-item {
	font-size: 33px;
	font-weight: 300;
	color: #656565;
	display: flex;
	justify-content: center;
	cursor: pointer;
}

.ab2part-progressbar {
	width: 100%;
	height: 1px;
	background-color: #e7e7e7;
	margin-bottom: 60px;
	position: relative;
}

.ab2part-progressbar span {
	height: 100%;
	width: 201px;
	background-color: #add136;
	display: block;
	position: relative;
 	overflow: hidden;
}

.about2part-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

.a2p-content-photo {
	margin-right: 80px;
	width: 113px;
	height: 102px;
}

.a2p-content-title {
	font-size: 25px;
	font-weight: 400;
	color: #add136;
	margin-bottom: 35px;
}

.a2p-content-paragraph {
	opacity: 0.67;
	font-size: 17px;
	font-weight: 400;
	color: #606060;
}
